<nav class="navbar bg-dark navbar-dark navbar-expand-lg navbar-light">
        
        <div class="navbar-brand" href="#">
          <img src="https://cdn.discordapp.com/attachments/693506566900678676/693810333369892964/hermesshoe1.png" height="40" width="40">
          <span class="nav-text"><i>Hermes</i></span>
        </div>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/services">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/faq">FAQ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/customize">Customize</a>
              </li>
          </ul>
        </div>
</nav>

<style>
.navbar-brand span
{
	font-family: 'Poppins', sans-serif;
	font-size: 18px;
	color: #ffc145;
}

.navbar-nav > li
{
	font-size: 18px;
	margin-top: -1.25%;
	margin-right: 6%;
}
</style>