<!DOCTYPE html>
<html>
<head>
  <%include ../views/partials/head%>
	<link rel="stylesheet" href="../stylesheets/about.css">
</head>
<body>
  <%include ../views/partials/navbar%>

	<header> 
		<div class="headerImg">
			<div class = "moto">
				<p>THE TEAM</p>
			</div>
		</div>
	</header>

	<div class = "about">
		<div class = "hermes">
			<p>
        Hermes is a Hackathon project created by Andy Chen, Caesar Chin, Jacky Chan, and Patryk Lezon for Hack Brooklyn 2020. <br>
         We thought Hermes would be important because of the sudden and unfortunate changes to our society. <br>
          Hermes was created for the sole purpose to help users decide what food to eat and to help deliver those ingredients locally. <br>
           Our services will help ensure the safety and comfort of our users, while also supporting small businesses. 
			</p>
		</div>
  </div>
</body>

<footer>
    <%include ../views/partials/footer%>
</footer>

</html>