<!DOCTYPE html>
<html>
<head>
  <%include ../views/partials/head%>
	<link rel="stylesheet" href="../stylesheets/faq.css">
</head>
<body>
    <%include ../views/partials/navbar%>

	<header> 
		<div class="headerImg">
			<div class = "moto">
				<p>FAQ</p>
			</div>
		</div>
	</header>

	<div class = "about">
		<div class = "faq">
			<ul style="list-style-type:none;">
        <br><li>Can I choose my meals?</li>
        <p>Yes, we help you choose the perfect meal you want in the 'Customize' tab at the top of the page. </p>
        <br><li>When do you deliver?</li>
        <p>We deliver 24 hours a day and 7 days a week so you will never miss a meal. </p>
        <br><li>What if we have dietary restrictions?</li>
        <p>When choosing your next meal we will ask you about any dietary restrictions you have. We will then create a specific list of recipes catered to your needs. </p>
        <br><li>Are there any commitments?</li>
        <p>Nope. You can use our services whenever you want, wherever you want. </p>
		</div>
	</div>
</body>

<footer>
	<%include ../views/partials/footer%>
</footer>

</html>