<!DOCTYPE html>
<html>
  <head>
    <%include ../views/partials/head%>
    <link rel="stylesheet" href="../stylesheets/home.css">
  </head>
  <body>
    <%include ../views/partials/navbar%>

    <header>
      <div class="headerImg">
        <div class="moto">
          <h1>HERMES</h1>
        </div>
        <button type="button" class="btn draw-border" onclick="location.href='/customize'">Start Today!</button>
      </div>

    </header>
  </body>
    
</html>