<!DOCTYPE html>
<html>
<head>
  <%include ../views/partials/head%>
  <link rel="stylesheet" href="../stylesheets/services.css">
  <script src="https://kit.fontawesome.com/7ead4bbf9b.js" crossorigin="anonymous"></script>
</head>

<body>

    <%include ../views/partials/navbar%>

  <header>
    <div class="headerImg">
      <div class="moto">
        <p>SERVICES</p>
      </div>
    </div>
  </header>

  <div class="service">
    <div class="row">
      
      <div class="col">
        <div class="single-service">
          <i class="fas fa-truck"></i>
          <h3>Customize</h3>
          <p>By choosing a wide range of criterias, 
            Hermes will help you decide what type of food that will be perfect for you to eat.
          </p>
        </div>
      </div>

      <div class="col">
        <div class="single-service">
          <i class="fas fa-truck"></i>
          <h3>Delivery</h3>
          <p>
            Hermes will deliver your ingredients right to your doorstep. 
            A delivery person from a Hermes certified grocery store, will grab the ingredients for you and deliver it.
          </p>
        </div>
      </div>
    </div>
  </div>
</body>

<footer>
    <%include ../views/partials/footer%>
</footer>

</html>